/adb
/.venv
openadbshell.ico
openadbshell.png
/dist
/.idea
/build
openadbshell.spec
__pycache__/
*.pyc
*.pyo
mods/rich_presence/.env
mods/rich_presence/devices.dat
mods/rich_presence/running.dat
mods/rich_presence/enabled.dat
mods/rich_presence/builds
config.dat